<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h1>Topup</h1>
  <%= link_to "New topup", new_topup_path, class: 'btn btn-primary btn-md' %>
</div>

<div id="topups">
  <%= render 'topup' %>
</div>
