<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h1>Stock</h1>
  <%= link_to "New stock", new_stock_path, class: 'btn btn-primary btn-md' %>
</div>

<div id="stocks">
  <%= render 'stock' %>
</div>
