<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Transaction Wallet Apps</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li>
        <a href="/transactions" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-bank2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
      </li>
      <li>
        <a href="/stocks" class="nav-link px-0 align-middle">
          <i class="fa-sharp fa-regular fa-star"></i> <span class="ms-1 d-none d-sm-inline">Stocks</span> </a>
      </li>
      <li>
        <a href="/topups" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-box-arrow-in-up"></i> <span class="ms-1 d-none d-sm-inline">Topup</span> </a>
      </li>
      <li>
        <a href="/transfers" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-send-plus"></i> <span class="ms-1 d-none d-sm-inline">Transfer</span> </a>
      </li>
      <li>
        <a href="/withdraws" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-box-arrow-down"></i> <span class="ms-1 d-none d-sm-inline">Withdraw</span> </a>
      </li>
      <li>
        <a href="/accounts" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-card-heading"></i> <span class="ms-1 d-none d-sm-inline">Accounts</span></a>
      </li>
      <li>
        <a href="/customers" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
      </li>
    </ul>
    <hr>
  </div>
</div>