<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h1>Customers</h1>
  <%= link_to "New customer", new_customer_path, class: 'btn btn-primary btn-md' %>
</div>
<div id="customers">
  <%= render 'customer' %>
</div>


