<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h1>Withdraw</h1>
  <%= link_to "New withdraw", new_withdraw_path, class: 'btn btn-primary btn-md' %>
</div>

<div id="withdraws">
  <%= render 'withdraw' %>
</div>
