<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h1>Transfer</h1>
  <%= link_to "New transfer", new_transfer_path, class: 'btn btn-primary btn-md' %>
</div>

<div id="transfers">
  <%= render 'transfer' %>
</div>
