<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h1>Transaction Activities</h1>
</div>

<div id="transactions">
  <%= render 'transaction' %>
</div>
